:root{
	background-color: #4C4C4C;
	font-family: Arial;
	color: white;
}

img{
	color: #363636
}

body{
	margin: 0px;
}


#logo{
		max-width: 100%;
		margin: auto;
		border-radius: 0px 10px 10px 0px;
		display: inline-block;
}

header{
	background-Color: #363636;

}

#nav{
	text-align: center;
}

#nav > *{
	display: inline-block;
	background-Color: white;
	margin: 3vw;
	padding: auto;
	width: 90%;
	border-radius: 5px;
	color: #363636;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}
	

@media only screen and (min-width: 768px){
	
	header{
		display: grid;
		grid-template-columns: 33% auto;
		min-height: 100px;
	}

	.headerItem{
		max-width: 100%;
		text-align: right;
		display: inline-grid;
		margin: 25px 0px;
	}

	.headerItem > *{
		margin: auto 0px;
		color: white;
	}

	
	#nav{
	text-align: right;
	margin: 0em 1em;
	}

	
	#nav > *{
		display: inline-block;
		margin: 5px;
		background-Color: white;
		padding: 0px auto;
		width: 5em;
		border-radius: 5px;
		color: #363636;
		font-weight: bold;
		text-decoration: none;
	}	
}

footer{
		color: white;
		text-align: center;
		padding: 20px 50px;
		background-Color: #363636;
		margin-top: 50px;
	}


article{
	margin: 50px;
	border-bottom: 3px dashed white;
}

article > h1{
	font-size: 40px;
	padding: 0px 0px 50px 0px;
}